.bee3D--parent {
    perspective: 600px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.bee3D--effect__coverflow {
    background: rgba(206, 67, 42, 0.2);
}

.bee3D--effect__coverflow .bee3D--before-1 {
    -webkit-transform: translateX(-150px) rotateY(45deg) scale(0.6);
    transform: translateX(-150px) rotateY(45deg) scale(0.6);
    opacity: 0.3;
    z-index: 9;
}

.bee3D--effect__coverflow .bee3D--before {
    -webkit-transform: translateX(-200px) rotateY(45deg) scale(0.6);
    transform: translateX(-200px) rotateY(45deg) scale(0.6);
    z-index: 6;
}

.bee3D--slide__inactive {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.bee3D--slide {
    position: absolute;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 512px;
    height: 380px;
    top: 50%;
    left: 50%;
    margin-left: -256px;
    margin-top: -190px;
    opacity: 0;
    transition: opacity 0.7s ease,-webkit-transform .7s ease;
    transition: opacity 0.7s ease,transform .7s ease;
    transition: opacity 0.7s ease,transform .7s ease,-webkit-transform .7s ease;
}

.bee3D--effect__coverflow .bee3D--inner {
    background: #2ACEB9;
}
.bee3D--inner {
    position: relative;
    width: 100%;
    height: 100%;
}

p.demo-text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgba(40,44,42,0.1);
    font-weight: 900;
    font-size: 12em;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    padding: .8em 0;
    margin: 0;
}

.bee3D--slide {
    position: absolute;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 512px;
    height: 380px;
    top: 50%;
    left: 50%;
    margin-left: -256px;
    margin-top: -190px;
    opacity: 0;
    transition: opacity 0.7s ease,-webkit-transform .7s ease;
    transition: opacity 0.7s ease,transform .7s ease;
    transition: opacity 0.7s ease,transform .7s ease,-webkit-transform .7s ease;
}

.bee3D--slide__active {
    opacity: 1;
    z-index: 10;
}

.bee3D--effect__coverflow .bee3D--after-1 {
    -webkit-transform: translateX(190px) rotateY(-45deg) scale(0.6);
    transform: translateX(190px) rotateY(-45deg) scale(0.6);
    opacity: 0.2;
    z-index: 8;
}

.bee3D--effect__coverflow .bee3D--after {
    -webkit-transform: translateX(200px) rotateY(-45deg) scale(0.6);
    transform: translateX(200px) rotateY(-45deg) scale(0.6);
    z-index: 6;
}


.bee3D--nav {
    position: absolute;
    cursor: pointer;
    top: 50%;
    font-size: 50px;
    color: rgba(0,0,0,0.45);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.7s ease;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}

.bee3D--nav__prev {
    left: 3%;
}

.bee3D--nav__next {
    right: 3%;
}