.triple_popups {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .3s ease
}

.triple_popups.cookiActive {
  visibility: visible;
  max-height: none;
  opacity: 1
}

.triple_popups.cookiActiveSlide {
  visibility: visible;
  max-height: 100px;
  opacity: 1
}

.triple_flex {
  padding: 20px 0;
  background-color: #f9fafe;
  display: flex;
  justify-content: center;
  align-items: center
}

.triple_flex .img_inner {
  width: 300px
}

.triple_flex input[type=checkbox] {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  cursor: pointer
}

.triple_flex input[type=checkbox]:checked {
  background-color: #000
}

.triple_flex input[type=checkbox]+label {
  cursor: pointer
}

.triple_flex .closeed {
  cursor: pointer
}