body,html{position:relative;height:100%}

body{background:#eee;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;color:#000;margin:0;padding:0}

.swiper-container{width:100%;height:100%}
.swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}

@keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
}
/* .dotcircle에 관한 스타일 ST */
.swiper-pagination-bullet a {cursor: default;}
.swiper-pagination-clickable .swiper-pagination-bullet a {cursor: pointer;}
.swiper-pagination-bullet-active.dotcircle .strok{
  display: inline-block;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 100s linear;
  animation-iteration-count: unset;
}
.swiper-pagination-bullet-active.dotcircle .paused{animation-play-state:paused}
/* .dotcircle에 관한 스타일 ED */

/** paused 에 관한 스타일 ST */
.swiper-paused{position:absolute;bottom:0;left:50%;z-index:2;-webkit-transform:translate(-111px,-3px);-ms-transform:translate(-111px,-3px);transform:translate(-111px,-3px)}
/** paused 에 관한 스타일  */
