.wrapper {
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-size: 40px;
}
.tr_tab_nav {width: 100%; position: absolute; top: 0;}
.tr_tab_nav.actives {position: fixed; top: 0; z-index: 2;}
.tabs {
  margin-top: 40px;
}
.tabs .line {
  width: 100%;
  height: 5px;
  display: block;
  margin-top: 20px;
  background-color: dimgray;
  position: relative;
}
.tabs .tr_line_item {
  height: 100%;
  display: block;
  background-color: #09f;
  position: absolute;
  top: 0;
  left: 0;
}
.tabs ul {
  display: flex;
  justify-content: space-between;
}
.tabs ul .tr_tab_item {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  font-size: 30px;
  transition: all 0.2s cubic-bezier(0.29, -0.52, 0.99, 1.91);
}
.tabs ul .tr_tab_item.actives {
  color: #09f;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #333;
}

.contents{padding: 100px 0 10px 0;}
.contents .sec-tabs {width: 100vw; height: 100vh; position: relative; border: 1px solid red;}
.contents .sec-tabs h1 {width: 100%; height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }