
.content {width: 100%; height: 100vh; position: absolute; background: rgba(0, 0, 0, 0.3);}
.content .content_inner {width: 500px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.content .content_inner a {width: 100%; display: block;}
.close {background: rgb(255, 255, 255); height: 40px; line-height: 40px;}
.closeed {float: right; padding: 0 20px; box-sizing: border-box; cursor: pointer;}
.clos {float: right; padding: 0 20px; box-sizing: border-box; cursor: pointer;}
.close .closde {float: right; margin-right: 10px;}
.close .closeed1 {float: right; margin-right: 10px;}
.close .closeed2 {float: right; margin-right: 10px;}

.thumb {width: 100%;}

input[type="checkbox"] {display: none;}
input[type="checkbox"] + label::before {content: ''; display: inline-block; width:20px; height:20px; margin: 0 10px 0 20px; background:url(./images/check.png) center center no-repeat; background-size: cover; vertical-align: sub;}
input[type="checkbox"]:checked + label::before { background:url(./images/check-on.png) center center no-repeat;  background-size: cover;}
input[type="checkbox"] + label {cursor: pointer;}